h2{
    color: brown;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: rosybrown;
 
    
}
p{
    font-size: 50px;
    color: chocolate;
  
}
div{
    background-color: bisque;
    height: 30000px;
    width: 30000px;
}

