h2{
    color: brown;
    font-size: 50px;
    text-align: center;
}
body{
    background-color: rgb(243, 217, 217);
 
    
}
p{
    text-align: center;
    font-size: 50px;
    color: chocolate;
  
}
a{
    color: black;
    text-decoration: none;
    text-align: center;
   

}

.diaa{
    
    font-size: 40px;
    word-spacing: 220px;
    background-color: beige;
    text-align: center;
   

    
}
section{
    background-color: rgb(0, 224, 150);
}